<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  

  <!-- PayPal SDK config -->
  <paypal>
    <settings>
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions-->
      <add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd="/>
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0"/>
      <add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
      <!--<add name="PayPalAPIAA" value="https://api-3t.sandbox.paypal.com/2.0"/>-->
      <!--<add name="PayPalAPI" value="https://api-3t.sandbox.paypal.com/2.0"/>-->
      <!-- Connection timeout in milliseconds -->

      <!--Host Url-->
      <add name="HostingEndpoint" value="http://localhost:3089"/>
      <!--LocalTunnel Host Url-->
      <add name="IPNListenerUrl" value="https://paypalipntomato.pagekite.me/IPNListener.aspx"/>

      <add name="connectionTimeout" value="360000"/>
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3"/>
      <add name="IPAddress" value="127.0.0.1"/>
    </settings>

    <accounts>
      <account apiUsername="jb-us-seller_api1.paypal.com" apiPassword="WX4WTU3S8MY44S7F" applicationId="APP-80W284485P519543T"
               apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy"/>
      <account apiUsername="certuser_biz_api1.paypal.com" apiPassword="D6JNKKULHN3G5B8A" applicationId="APP-80W284485P519543T"
               apiCertificate="C:\PayPal_SDKs\sdk-core-dotnet\UnitTest\Resources\sdk-cert.p12" privateKeyPassword="password"/>
    </accounts>
  </paypal>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="PayPalLog.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ImperiaonlineTools" connectionString="Data Source=2df85185-c7cb-4ca2-8703-a2da00db80ab.sqlserver.sequelizer.com;Initial Catalog=ImperiaonlineTools;User Id=bmiajfkwvwhhpwer;Password=FR8wvCx33dxUdzbzc32mJie5u62XPeojDfsdDWRHgygsXMYyYZpQa6gxMcbyJGnW;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>