@model ImperiaonlineToolsModels.CalcOutputModel

<div class="col-md-5" id="result" style="color:green">
    <div>
        <strong>
            Fight time: @Model.CrashTime
        </strong>
    </div>
    <div>
        <strong>
            Enemy home for: @Model.EnemyHomeFor
        </strong>
    </div>
    <div>
        <strong>
            Enemy home at: @Model.EnemyHomeAt
        </strong>
    </div>
    <div>
        <strong>
            Attack at: @Model.AttackAt
        </strong>
    </div>
</div>
