@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Sorry. There is a little problem with this section. We are working for fix it.</h2>

<div class="container">
    <img src="~/Images/ErrorPage.jpg" />
</div>
